type cei_hwid, domain;
type cei_hwid_exec, exec_type, file_type;
init_daemon_domain(cei_hwid)

allow cei_hwid shell_exec:file { entrypoint read };
allow cei_hwid cei_hwid_exec:file { getattr open execute_no_trans };
allow cei_hwid sysfs:file rw_file_perms;