# fpsvcd daemon
type fpsvcd, domain;
type fpsvcd_exec, exec_type, file_type;

init_daemon_domain(fpsvcd)
wakelock_use(fpsvcd)

allow init          data_silead_file_tmp:dir  mounton;

allow fpsvcd        init_tmpfs:file           r_file_perms;
allow fpsvcd        fpsvcd_tmpfs:file         create_file_perms;
allow fpsvcd        data_silead_file:dir      create_dir_perms;
allow fpsvcd        data_silead_file:file     create_file_perms;
allow fpsvcd        data_silead_file_tmp:dir  { r_dir_perms write add_name};
allow fpsvcd        data_silead_file_tmp:file rw_file_perms;
allow fpsvcd        data_silead_file_tmp:file create;
allow fpsvcd        silead_fp_device:chr_file rw_file_perms;
allow fpsvcd        fingerprintd:dir          r_dir_perms;
allow fpsvcd        tmpfs:dir                 rw_dir_perms;
allow fpsvcd        tmpfs:file                create_file_perms;
allow fpsvcd        self:netlink_kobject_uevent_socket create_socket_perms;
allow fpsvcd        self:capability           net_admin;

# Access to /dev/uinput for virtual keys
allow fpsvcd        uhid_device:chr_file      rw_file_perms;

# Fingerprint Service (HAL)
allow fingerprintd  data_silead_file:dir      create_dir_perms;
allow fingerprintd  data_silead_file:file     create_file_perms;
allow fingerprintd  data_silead_file_tmp:dir  { r_dir_perms mounton };
allow fingerprintd  data_silead_file_tmp:file rw_file_perms;
allow fingerprintd  fpsvcd_tmpfs:file         create_file_perms;
allow fingerprintd  init_tmpfs:file           r_file_perms;
allow fingerprintd  silead_fp_device:chr_file rw_file_perms;
allow fingerprintd  tmpfs:dir                 rw_dir_perms;
allow fingerprintd  self:capability           sys_nice;
allow fingerprintd  fpsvcd:dir                read;
allow fingerprintd  fpsvcd:dir                open;
