on boot
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "interactive"
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

on property:sys.rainbow.recovery=1
    write /sys/class/leds/red/brightness 255
    write /sys/class/leds/red/start_idx 0
    write /sys/class/leds/red/duty_pcts "100,100,100,0,0,50,100"
    write /sys/class/leds/red/pause_hi 0
    write /sys/class/leds/red/pause_lo 0
    write /sys/class/leds/red/ramp_step_ms 100
    write /sys/class/leds/green/brightness 255
    write /sys/class/leds/green/start_idx 7
    write /sys/class/leds/green/duty_pcts "0,50,100,100,0,0,0"
    write /sys/class/leds/green/pause_hi 0
    write /sys/class/leds/green/pause_lo 0
    write /sys/class/leds/green/ramp_step_ms 100
    write /sys/class/leds/blue/brightness 255
    write /sys/class/leds/blue/start_idx 14
    write /sys/class/leds/blue/duty_pcts "0,0,0,0,100,100,100"
    write /sys/class/leds/blue/pause_hi 0
    write /sys/class/leds/blue/pause_lo 0
    write /sys/class/leds/blue/ramp_step_ms 100
    write /sys/class/leds/rgb/rgb_blink 1

on property:sys.rainbow.recovery=0
    write /sys/class/leds/rgb/rgb_blink 0
